code-AI-quality-allinone/scripts/dify-assets/sonar-analyzer-workflow.yaml
# =============================================================================
# TTC 4-Pipeline — Sonar Issue Analyzer Workflow (Dify DSL v0.1.3)
#
# 파이프라인 3 (03 코드 정적분석 결과분석 및 이슈등록) 이 호출하는
# Dify Workflow 정의. provision.sh 가 이 YAML 을 /console/api/apps/imports
# 로 자동 import 한다.
#
# 입력 (dify_sonar_issue_analyzer.py 가 POST 하는 body):
#   sonar_issue_key       SonarQube Issue Key (예: ABC-123)
#   sonar_project_key     SonarQube Project Key
#   code_snippet          '>>' 마커 포함 50줄 코드 스니펫
#   sonar_issue_url       SonarQube 이슈 상세 URL
#   kb_query              RAG 검색용 쿼리 (rule_key + message)
#   sonar_issue_json      JSON 원본 문자열
#   sonar_rule_json       Rule 정의 JSON 문자열
#   enclosing_function    이슈 라인을 포함하는 함수/메서드 이름 (Step R 신규, optional)
#   enclosing_lines       그 함수의 라인 범위 "a-b" (Step R 신규, optional)
#   commit_sha            분석 대상 커밋 SHA (Step R 신규, optional)
#
# 출력 (Step R 4필드 + Step C 신규 4필드 = 총 8):
#   title                      한줄 요약 제목
#   labels                     라벨 배열
#   impact_analysis_markdown   영향 분석 (헤딩 없는 3~6줄 markdown)
#   suggested_fix_markdown     수정 제안 (코드펜스 diff/python 1개. 빈 문자열 허용)
#   classification             "true_positive" | "false_positive" | "wont_fix"  (Step C)
#   fp_reason                  classification=false_positive 일 때만 의미 (Step C)
#   confidence                 "high" | "medium" | "low"  (Step C)
#   suggested_diff             unified diff 문자열 (없으면 ""). suggested_fix_markdown 과 별개 (Step C)
# 이전 `description_markdown` (자유서술 5섹션) 은 제거 — 위치/코드/룰 설명은
# creator 가 사실 정보로 렌더하고, LLM 은 해석 필요한 두 섹션에만 집중.
#
# 모델: 호스트 Ollama gemma4:e4b (기본). 다른 모델은 llm/extractor 노드의
# model.name 을 일괄 치환.
# =============================================================================

kind: app
version: 0.1.3
app:
  description: 'SonarQube 이슈를 GitLab Issue 형식으로 변환하는 Workflow'
  icon: robot
  icon_background: '#FFEAD5'
  mode: workflow
  name: Sonar Issue Analyzer
  use_icon_as_answer_icon: false

workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false

  graph:
    edges:
      - id: edge-start-to-retrieval
        source: start
        sourceHandle: source
        target: knowledge_retrieval
        targetHandle: target
        type: custom
        data:
          sourceType: start
          targetType: knowledge-retrieval

      - id: edge-retrieval-to-llm
        source: knowledge_retrieval
        sourceHandle: source
        target: llm_analyzer
        targetHandle: target
        type: custom
        data:
          sourceType: knowledge-retrieval
          targetType: llm

      - id: edge-llm-to-extractor
        source: llm_analyzer
        sourceHandle: source
        target: extractor
        targetHandle: target
        type: custom
        data:
          sourceType: llm
          targetType: parameter-extractor

      - id: edge-extractor-to-end
        source: extractor
        sourceHandle: source
        target: end
        targetHandle: target
        type: custom
        data:
          sourceType: parameter-extractor
          targetType: end

    nodes:
      # ────────────────────────────────────────────────────────────────────
      # Start — 10개 입력 변수. Step R 에서 enclosing_function / enclosing_lines
      # / commit_sha 추가 (프롬프트의 "위치 반복 금지" 룰에 사용).
      # ────────────────────────────────────────────────────────────────────
      - id: start
        type: custom
        position:
          x: 80
          y: 200
        data:
          type: start
          title: Start
          variables:
            - variable: sonar_issue_key
              label: Issue Key
              type: text-input
              required: true
              max_length: 128
            - variable: sonar_project_key
              label: Project Key
              type: text-input
              required: true
              max_length: 256
            - variable: code_snippet
              label: Code Snippet
              type: paragraph
              required: true
              max_length: 8000
            - variable: sonar_issue_url
              label: Issue URL
              type: text-input
              required: false
              max_length: 1024
            - variable: kb_query
              label: RAG Query
              type: text-input
              required: false
              max_length: 1024
            - variable: sonar_issue_json
              label: Raw Issue JSON
              type: paragraph
              required: true
              max_length: 8000
            - variable: sonar_rule_json
              label: Raw Rule JSON
              type: paragraph
              required: false
              max_length: 8000
            - variable: enclosing_function
              label: Enclosing Function
              type: text-input
              required: false
              max_length: 256
            - variable: enclosing_lines
              label: Enclosing Lines
              type: text-input
              required: false
              max_length: 64
            - variable: commit_sha
              label: Commit SHA
              type: text-input
              required: false
              max_length: 64

      # ────────────────────────────────────────────────────────────────────
      # Knowledge Retrieval — code-context-kb (bge-m3 hybrid) 에서 top_k=6 조회
      # Phase 1 에서 신규 추가. 이전에는 RAG 노드 자체가 없어 kb_query 가 프롬프트
      # 문자열로만 들어갔고 벡터 검색은 일어나지 않아 P1 기여도 0% 였음.
      # ────────────────────────────────────────────────────────────────────
      - id: knowledge_retrieval
        type: custom
        position:
          x: 380
          y: 200
        data:
          type: knowledge-retrieval
          title: Code KB 검색
          query_variable_selector:
            - start
            - kb_query
          dataset_ids: []  # provision.sh 가 import 후 code-context-kb dataset id 를 주입
          retrieval_mode: multiple
          multiple_retrieval_config:
            top_k: 6
            score_threshold_enabled: false
            score_threshold: 0.0
            reranking_enable: false
            # Dify 1.13 pydantic: reranking_mode 는 string 필수 (null 금지).
            # reranking_enable=false 일 때도 빈 문자열로 명시.
            reranking_mode: ''
            reranking_model:
              provider: ''
              model: ''

      # ────────────────────────────────────────────────────────────────────
      # LLM — 이슈 분석 및 구조화 응답 생성
      # (retrieval 결과를 {{#knowledge_retrieval.result#}} 로 주입)
      # ────────────────────────────────────────────────────────────────────
      - id: llm_analyzer
        type: custom
        position:
          x: 680
          y: 200
        data:
          type: llm
          title: 이슈 분석 LLM
          model:
            provider: ollama
            name: gemma4:e4b
            mode: chat
            completion_params:
              temperature: 0.1
              max_tokens: 2048
          prompt_template:
            - role: system
              text: |
                당신은 SonarQube 정적분석 결과를 GitLab Issue 로 변환하는 시니어 엔지니어입니다.
                응답은 반드시 하나의 JSON 객체로만 출력하세요. 코드펜스(```)나 다른 설명 금지.

                JSON 스키마 (8개 필드):
                {
                  "title": "<한줄 요약 제목, 80자 이내>",
                  "labels": ["<Severity>", "<Type>", "<추가 도메인 태그>"],
                  "impact_analysis_markdown": "<markdown 3~6줄. 이 이슈가 실제 동작에 어떤 영향을 미치는지.>",
                  "suggested_fix_markdown": "<markdown. 코드펜스 diff 또는 python 블록 1개. 명확한 수정안이 없으면 빈 문자열 \"\">",
                  "classification": "<true_positive | false_positive | wont_fix>",
                  "fp_reason": "<classification=false_positive 일 때만 비지 않음. 왜 오탐인지 1-2줄. 아니면 빈 문자열 \"\">",
                  "confidence": "<high | medium | low — 본 판정에 대한 확신도>",
                  "suggested_diff": "<unified diff 문자열. 없으면 빈 문자열 \"\". suggested_fix_markdown 과 별개로 기계 적용 가능한 형식일 때만 채움.>"
                }

                중요 규칙 (위반 시 본문이 중복되어 가독성 떨어짐):
                - 파일·라인·함수·Rule·Severity·Commit 같은 **위치 사실 정보는 본문에 다시 쓰지 말 것**.
                  이 정보들은 이슈 상단에 별도 테이블로 렌더링됨. 반복 금지.
                - 문제 코드 블록(`>>` 마커 포함)도 다시 쓰지 말 것. 상단에 별도 섹션으로 렌더링됨.
                - Rule 전체 설명도 다시 쓰지 말 것. 하단에 별도 접기 섹션으로 렌더링됨.
                - impact_analysis_markdown:
                    * 호출 관계 · 테스트 연결 · 프로젝트 관행 등 해석이 필요한 내용만.
                    * 아래 '프로젝트 컨텍스트' RAG 결과의 실제 파일/함수를 구체적으로 언급.
                    * 예: "`src/session.py::check_session` 가 이 함수를 호출하므로 세션 검증 흐름 전체가 영향을 받음."
                    * 3~6줄 권장. 헤딩(##) 사용 금지 — 창 밖 상단 헤딩이 이미 있음.
                - suggested_fix_markdown:
                    * 바로 적용 가능한 diff 가 가장 좋음. 없으면 before/after python 블록도 허용.
                    * 코드펜스 1개만. 주석 설명은 코드펜스 바깥 1~2줄만.
                    * 확실한 수정안이 없으면 반드시 빈 문자열 "". 추측성 제안 금지.
                - classification: Sonar 가 실제 문제를 맞췄는지 판정.
                    * true_positive: 실제로 수정 필요.
                    * false_positive: Sonar 가 오판. 프로젝트 관행/테스트 픽스처/의도된 예외 등.
                    * wont_fix: 실제 문제지만 비용/우선순위상 고치지 않는 것이 합리적.
                - fp_reason: classification=false_positive 일 때만 1~2줄로 이유. 아니면 빈 문자열.
                - confidence: 본 판정 (classification) 에 대한 확신도. 근거가 RAG/코드에 명확하면 high, 룰 설명만으로 판단했으면 medium/low.
                - suggested_diff: 기계 적용 가능한 unified diff 가 확실할 때만. 애매하면 빈 문자열.
                - labels: 최소 2개 (severity, type), 도메인 태그 자유.
            - role: user
              text: |
                ## 입력
                - issue key       : {{#start.sonar_issue_key#}}
                - project key     : {{#start.sonar_project_key#}}
                - enclosing fn    : {{#start.enclosing_function#}} (line {{#start.enclosing_lines#}})
                - commit          : {{#start.commit_sha#}}

                ## Sonar Issue JSON
                ```json
                {{#start.sonar_issue_json#}}
                ```

                ## Sonar Rule JSON
                ```json
                {{#start.sonar_rule_json#}}
                ```

                ## Code Snippet (참고용 — 본문에 다시 쓰지 말 것)
                ```
                {{#start.code_snippet#}}
                ```

                ## 프로젝트 컨텍스트 (같은 레포 RAG 검색 결과, top-6)
                {{#knowledge_retrieval.result#}}

                위 정보를 바탕으로 JSON 응답만 생성하세요.
                impact_analysis_markdown 과 suggested_fix_markdown 에 집중하고,
                위치·코드·룰 설명은 반복하지 마세요.
          context:
            enabled: true
            variable_selector:
              - knowledge_retrieval
              - result
          vision:
            enabled: false

      # ────────────────────────────────────────────────────────────────────
      # Parameter Extractor — LLM 응답에서 3개 필드 추출
      # ────────────────────────────────────────────────────────────────────
      - id: extractor
        type: custom
        position:
          x: 880
          y: 200
        data:
          type: parameter-extractor
          title: GitLab Issue 필드 추출
          model:
            provider: ollama
            name: gemma4:e4b
            mode: chat
            completion_params:
              temperature: 0.0
              max_tokens: 2048
          query:
            - llm_analyzer
            - text
          parameters:
            - name: title
              type: string
              required: true
              description: '한줄 요약 제목 (80자 이내)'
            - name: labels
              type: array[string]
              required: true
              description: 'GitLab 라벨 배열 (최소 severity + type)'
            - name: impact_analysis_markdown
              type: string
              required: true
              description: '영향 분석 markdown (3~6줄, 헤딩 없음). 호출 관계·테스트·관행.'
            - name: suggested_fix_markdown
              type: string
              required: false
              description: '수정 제안 markdown (코드펜스 1개). 명확한 수정안이 없으면 빈 문자열.'
            - name: classification
              type: string
              required: false
              description: 'true_positive | false_positive | wont_fix 중 하나. 빈 문자열 가능 — analyzer 가 기본값 true_positive 로 fallback.'
            - name: fp_reason
              type: string
              required: false
              description: 'classification=false_positive 일 때 1~2줄 이유. 아니면 빈 문자열.'
            - name: confidence
              type: string
              required: false
              description: 'high | medium | low. 본 판정에 대한 확신도.'
            - name: suggested_diff
              type: string
              required: false
              description: 'unified diff 문자열. 없으면 빈 문자열.'
          reasoning_mode: prompt
          instruction: |
            위 LLM 응답에서 아래 8개 필드를 추출하여 구조화된 파라미터로 반환하세요:
              title, labels, impact_analysis_markdown, suggested_fix_markdown,
              classification, fp_reason, confidence, suggested_diff
            원본 값을 가공하지 말 것. 특히 suggested_fix_markdown / suggested_diff /
            fp_reason 이 빈 문자열이면 그대로 빈 문자열로 반환 (억지로 채우지 말 것).

            필수 필드 규칙 (절대 빈 문자열로 반환하지 말 것):
              - title: 최소 한 줄, 한글 또는 영문 요약.
              - labels: 최소 1개 이상의 문자열을 포함한 배열.
              - impact_analysis_markdown: 최소 3줄의 markdown. 만약 LLM 응답에
                영향 분석이 없으면 code/rule 으로부터 유추해 최소한의 영향(코드 가독성,
                유지보수, 잠재적 런타임 영향 중 적용 가능한 항목)을 기술하여 채울 것.
            위 3 필드가 비면 downstream 검증 노드가 워크플로우를 실패시키므로
            반드시 비어 있지 않게 채워 반환해야 함.

      # ────────────────────────────────────────────────────────────────────
      # End — 4개 출력 (title, labels, impact_analysis_markdown, suggested_fix_markdown)
      # creator 가 위 4개 + exporter 출력의 사실 정보를 조합해 최종 이슈 본문 렌더.
      # ────────────────────────────────────────────────────────────────────
      - id: end
        type: custom
        position:
          x: 1280
          y: 200
        data:
          type: end
          title: End
          outputs:
            - variable: title
              value_selector:
                - extractor
                - title
              value_type: string
            - variable: labels
              value_selector:
                - extractor
                - labels
              value_type: array[string]
            - variable: impact_analysis_markdown
              value_selector:
                - extractor
                - impact_analysis_markdown
              value_type: string
            - variable: suggested_fix_markdown
              value_selector:
                - extractor
                - suggested_fix_markdown
              value_type: string
            - variable: classification
              value_selector:
                - extractor
                - classification
              value_type: string
            - variable: fp_reason
              value_selector:
                - extractor
                - fp_reason
              value_type: string
            - variable: confidence
              value_selector:
                - extractor
                - confidence
              value_type: string
            - variable: suggested_diff
              value_selector:
                - extractor
                - suggested_diff
              value_type: string
