code-AI-quality-allinone/scripts/dify-assets/sonar-analyzer-workflow.yaml
# =============================================================================
# TTC 4-Pipeline — Sonar Issue Analyzer Workflow (Dify DSL v0.1.3)
#
# 파이프라인 4 (04 정적분석 결과분석 및 이슈등록) 이 호출하는
# Dify Workflow 정의. provision.sh 가 이 YAML 을 /console/api/apps/imports
# 로 자동 import 한다.
#
# 입력 (dify_sonar_issue_analyzer.py 가 POST 하는 body):
#   sonar_issue_key       SonarQube Issue Key (예: ABC-123)
#   sonar_project_key     SonarQube Project Key
#   code_snippet          '>>' 마커 포함 50줄 코드 스니펫
#   sonar_issue_url       SonarQube 이슈 상세 URL
#   kb_query              RAG 검색용 쿼리 (rule_key + message)
#   sonar_issue_json      JSON 원본 문자열
#   sonar_rule_json       Rule 정의 JSON 문자열
#   enclosing_function    이슈 라인을 포함하는 함수/메서드 이름 (Step R 신규, optional)
#   enclosing_lines       그 함수의 라인 범위 "a-b" (Step R 신규, optional)
#   commit_sha            분석 대상 커밋 SHA (Step R 신규, optional)
#
# 출력 (Step R 4필드 + Step C 신규 4필드 = 총 8):
#   title                      한줄 요약 제목
#   labels                     라벨 배열
#   impact_analysis_markdown   영향 분석 (헤딩 없는 3~6줄 markdown)
#   suggested_fix_markdown     수정 제안 (코드펜스 diff/python 1개. 빈 문자열 허용)
#   classification             "true_positive" | "false_positive" | "wont_fix"  (Step C)
#   fp_reason                  classification=false_positive 일 때만 의미 (Step C)
#   confidence                 "high" | "medium" | "low"  (Step C)
#   suggested_diff             unified diff 문자열 (없으면 ""). suggested_fix_markdown 과 별개 (Step C)
# 이전 `description_markdown` (자유서술 5섹션) 은 제거 — 위치/코드/룰 설명은
# creator 가 사실 정보로 렌더하고, LLM 은 해석 필요한 두 섹션에만 집중.
#
# 모델: 호스트 Ollama gemma4:e4b (기본). 변경 시 llm_analyzer 노드의
# model.name 1곳만 수정 (json_parser 는 Code 노드라 LLM 아님).
# =============================================================================

kind: app
version: 0.1.3
app:
  description: 'SonarQube 이슈를 GitLab Issue 형식으로 변환하는 Workflow'
  icon: robot
  icon_background: '#FFEAD5'
  mode: workflow
  name: Sonar Issue Analyzer
  use_icon_as_answer_icon: false

workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false

  graph:
    edges:
      - id: edge-start-to-retrieval
        source: start
        sourceHandle: source
        target: knowledge_retrieval
        targetHandle: target
        type: custom
        data:
          sourceType: start
          targetType: knowledge-retrieval

      - id: edge-retrieval-to-filter
        source: knowledge_retrieval
        sourceHandle: source
        target: context_filter
        targetHandle: target
        type: custom
        data:
          sourceType: knowledge-retrieval
          targetType: code

      - id: edge-filter-to-llm
        source: context_filter
        sourceHandle: source
        target: llm_analyzer
        targetHandle: target
        type: custom
        data:
          sourceType: code
          targetType: llm

      - id: edge-llm-to-parser
        source: llm_analyzer
        sourceHandle: source
        target: json_parser
        targetHandle: target
        type: custom
        data:
          sourceType: llm
          targetType: code

      - id: edge-parser-to-end
        source: json_parser
        sourceHandle: source
        target: end
        targetHandle: target
        type: custom
        data:
          sourceType: code
          targetType: end

    nodes:
      # ────────────────────────────────────────────────────────────────────
      # Start — 10개 입력 변수. Step R 에서 enclosing_function / enclosing_lines
      # / commit_sha 추가 (프롬프트의 "위치 반복 금지" 룰에 사용).
      # ────────────────────────────────────────────────────────────────────
      - id: start
        type: custom
        position:
          x: 80
          y: 200
        data:
          type: start
          title: Start
          variables:
            - variable: sonar_issue_key
              label: Issue Key
              type: text-input
              required: true
              max_length: 128
            - variable: sonar_project_key
              label: Project Key
              type: text-input
              required: true
              max_length: 256
            - variable: code_snippet
              label: Code Snippet
              type: paragraph
              required: true
              max_length: 8000
            - variable: sonar_issue_url
              label: Issue URL
              type: text-input
              required: false
              max_length: 1024
            - variable: kb_query
              label: RAG Query
              type: text-input
              required: false
              max_length: 1024
            - variable: sonar_issue_json
              label: Raw Issue JSON
              type: paragraph
              required: true
              max_length: 8000
            - variable: sonar_rule_json
              label: Raw Rule JSON
              type: paragraph
              required: false
              max_length: 8000
            - variable: enclosing_function
              label: Enclosing Function
              type: text-input
              required: false
              max_length: 256
            - variable: enclosing_lines
              label: Enclosing Lines
              type: text-input
              required: false
              max_length: 64
            - variable: commit_sha
              label: Commit SHA
              type: text-input
              required: false
              max_length: 64
            - variable: issue_file_path
              label: Issue File Path
              type: text-input
              required: false
              max_length: 512
              # P1: context_filter Code 노드가 이 경로와 일치하는 RAG 청크를
              # self-retrieval 로 간주해 제외. analyzer.py 가 item.relative_path 로 주입.
            - variable: retry_hint
              label: Retry Hint
              type: paragraph
              required: false
              max_length: 2000

      # ────────────────────────────────────────────────────────────────────
      # Knowledge Retrieval — code-context-kb (bge-m3 hybrid) 에서 top_k=15 조회.
      # P1 에서 6→15 로 증량 — 후단 context_filter Code 노드가 self-exclusion
      # (이슈 파일 청크 제거) + 카테고리 분류 (callers / tests / others) 후
      # 카테고리별 top-3 만 LLM 에 넘기므로, 상위 풀이 넉넉해야 각 카테고리가
      # 비지 않을 확률이 높다. reranker 는 현재 환경에 미등록이라 off 유지.
      # ────────────────────────────────────────────────────────────────────
      - id: knowledge_retrieval
        type: custom
        position:
          x: 380
          y: 200
        data:
          type: knowledge-retrieval
          title: Code KB 검색
          query_variable_selector:
            - start
            - kb_query
          dataset_ids: []  # provision.sh 가 import 후 code-context-kb dataset id 를 주입
          retrieval_mode: multiple
          multiple_retrieval_config:
            top_k: 15
            score_threshold_enabled: false
            score_threshold: 0.0
            reranking_enable: false
            # Dify 1.13 pydantic: reranking_mode 는 string 필수 (null 금지).
            # reranking_enable=false 일 때도 빈 문자열로 명시.
            reranking_mode: ''
            reranking_model:
              provider: ''
              model: ''

      # ────────────────────────────────────────────────────────────────────
      # Context Filter (Code 노드) — P1 신규.
      # retrieval 결과에 대해 다음 3가지를 수행:
      #   1) self-exclusion: issue_file_path 와 동일 path 청크 제거
      #      (동일 repo KB 구조상 top-1 은 거의 self-retrieval 이라 중복)
      #   2) 카테고리 분류 — 각 청크의 metadata footer 파싱:
      #        - is_test=true → tests 버킷
      #        - callers footer 비어있지 않음 → callers 버킷 (누가 부르는 정의)
      #        - 그 외 → others
      #   3) 카테고리별 top-3 선정 후 markdown 섹션으로 직렬화
      # LLM context 예산 보호 + 실제로 "새 정보" 인 청크만 LLM 에 전달.
      # ────────────────────────────────────────────────────────────────────
      - id: context_filter
        type: custom
        position:
          x: 530
          y: 200
        data:
          type: code
          title: Context Filter (self-exclude + 분류)
          variables:
            - variable: retrieval_results
              value_selector:
                - knowledge_retrieval
                - result
            - variable: issue_file_path
              value_selector:
                - start
                - issue_file_path
          code_language: python3
          code: |
            def main(retrieval_results, issue_file_path: str) -> dict:
                """RAG 결과 후처리 — self-exclusion + 카테고리 분류 + 섹션화.

                retrieval_results: Dify knowledge_retrieval.result — list[dict].
                  각 원소: {"content": "<code + '---' + metadata footer>",
                           "title": "...", "metadata": {...}, "score": float, ...}
                issue_file_path: Sonar 이슈 파일 경로 (self-exclusion 키).
                """
                results = retrieval_results or []
                issue_file = (issue_file_path or "").strip()

                def parse_footer(content: str):
                    """청크 content 를 body + metadata dict 로 분리.

                    doc_processor._chunk_to_document 가 code 뒤에 '\\n---\\n' 을 넣고
                    그 뒤에 'key: value' 라인을 박는다. rsplit 으로 마지막 '---' 블록
                    만 footer 로 간주.
                    """
                    meta = {}
                    body = content
                    if "---" in content:
                        parts = content.rsplit("---", 1)
                        body = parts[0].rstrip()
                        for line in parts[1].splitlines():
                            line = line.strip()
                            if ":" not in line:
                                continue
                            k, v = line.split(":", 1)
                            meta[k.strip()] = v.strip()
                    return body, meta

                buckets = {"callers": [], "tests": [], "others": []}
                for r in results:
                    content = (r or {}).get("content") or ""
                    body, meta = parse_footer(content)
                    chunk_path = meta.get("path", "")
                    if issue_file and chunk_path == issue_file:
                        continue  # self-exclusion
                    if meta.get("is_test") == "true":
                        bucket = "tests"
                    elif meta.get("callers"):
                        bucket = "callers"
                    else:
                        bucket = "others"
                    buckets[bucket].append({
                        "path": meta.get("path", "?"),
                        "symbol": meta.get("symbol", "?"),
                        "lang": meta.get("lang", ""),
                        "callers": meta.get("callers", ""),
                        "test_paths": meta.get("test_paths", ""),
                        "body": body,
                    })

                def render(title: str, items, max_items: int = 3, max_body_lines: int = 20) -> str:
                    if not items:
                        return ""
                    out = [f"### {title}"]
                    for it in items[:max_items]:
                        head = f"- `{it['path']}::{it['symbol']}`"
                        hints = []
                        if it.get("callers"):
                            hints.append(f"callers={it['callers'][:80]}")
                        if it.get("test_paths"):
                            hints.append(f"tests={it['test_paths'][:80]}")
                        if hints:
                            head += "  (" + " | ".join(hints) + ")"
                        out.append(head)
                        body_lines = it["body"].splitlines()[:max_body_lines]
                        out.append("```" + (it["lang"] or ""))
                        out.extend(body_lines)
                        out.append("```")
                    return "\n".join(out)

                sections = []
                s = render("관련 caller / 호출 관계 (이 함수를 부르는 정의)", buckets["callers"])
                if s: sections.append(s)
                s = render("관련 테스트", buckets["tests"])
                if s: sections.append(s)
                s = render("기타 관련 청크", buckets["others"])
                if s: sections.append(s)

                text = "\n\n".join(sections) or "(관련 RAG 청크 없음 — self-exclusion 후 매칭 0)"
                return {"filtered_context": text}
          outputs:
            filtered_context:
              type: string

      # ────────────────────────────────────────────────────────────────────
      # LLM — 이슈 분석 및 구조화 응답 생성
      # (context_filter 가 가공한 {{#context_filter.filtered_context#}} 주입)
      # ────────────────────────────────────────────────────────────────────
      - id: llm_analyzer
        type: custom
        position:
          x: 680
          y: 200
        data:
          type: llm
          title: 이슈 분석 LLM
          model:
            provider: ollama
            name: gemma4:e4b
            mode: chat
            completion_params:
              temperature: 0.1
              max_tokens: 2048
          prompt_template:
            - role: system
              text: |
                당신은 SonarQube 정적분석 결과를 GitLab Issue 로 변환하는 시니어 엔지니어입니다.
                응답은 반드시 하나의 JSON 객체로만 출력하세요. 코드펜스(```)나 다른 설명 금지.

                JSON 스키마 (8개 필드):
                {
                  "title": "<한줄 요약 제목, 80자 이내>",
                  "labels": ["<Severity>", "<Type>", "<추가 도메인 태그>"],
                  "impact_analysis_markdown": "<markdown 3~6줄. 이 이슈가 실제 동작에 어떤 영향을 미치는지.>",
                  "suggested_fix_markdown": "<markdown. 코드펜스 diff 또는 python 블록 1개. 명확한 수정안이 없으면 빈 문자열 \"\">",
                  "classification": "<true_positive | false_positive | wont_fix>",
                  "fp_reason": "<classification=false_positive 일 때만 비지 않음. 왜 오탐인지 1-2줄. 아니면 빈 문자열 \"\">",
                  "confidence": "<high | medium | low — 본 판정에 대한 확신도>",
                  "suggested_diff": "<unified diff 문자열. 없으면 빈 문자열 \"\". suggested_fix_markdown 과 별개로 기계 적용 가능한 형식일 때만 채움.>"
                }

                중요 규칙 (위반 시 본문이 중복되어 가독성 떨어짐):
                - 파일·라인·함수·Rule·Severity·Commit 같은 **위치 사실 정보는 본문에 다시 쓰지 말 것**.
                  이 정보들은 이슈 상단에 별도 테이블로 렌더링됨. 반복 금지.
                - 문제 코드 블록(`>>` 마커 포함)도 다시 쓰지 말 것. 상단에 별도 섹션으로 렌더링됨.
                - Rule 전체 설명도 다시 쓰지 말 것. 하단에 별도 접기 섹션으로 렌더링됨.
                - impact_analysis_markdown:
                    * 호출 관계 · 테스트 연결 · 프로젝트 관행 등 해석이 필요한 내용만.
                    * 아래 '프로젝트 컨텍스트' RAG 결과의 실제 파일/함수를 구체적으로 언급.
                    * 예: "`src/session.py::check_session` 가 이 함수를 호출하므로 세션 검증 흐름 전체가 영향을 받음."
                    * 3~6줄 권장. 헤딩(##) 사용 금지 — 창 밖 상단 헤딩이 이미 있음.
                - suggested_fix_markdown:
                    * 바로 적용 가능한 diff 가 가장 좋음. 없으면 before/after python 블록도 허용.
                    * 코드펜스 1개만. 주석 설명은 코드펜스 바깥 1~2줄만.
                    * 확실한 수정안이 없으면 반드시 빈 문자열 "". 추측성 제안 금지.
                - classification: Sonar 가 실제 문제를 맞췄는지 판정.
                    * true_positive: 실제로 수정 필요.
                    * false_positive: Sonar 가 오판. 프로젝트 관행/테스트 픽스처/의도된 예외 등.
                    * wont_fix: 실제 문제지만 비용/우선순위상 고치지 않는 것이 합리적.
                - fp_reason: classification=false_positive 일 때만 1~2줄로 이유. 아니면 빈 문자열.
                - confidence: 본 판정 (classification) 에 대한 확신도. 근거가 RAG/코드에 명확하면 high, 룰 설명만으로 판단했으면 medium/low.
                - suggested_diff: 기계 적용 가능한 unified diff 가 확실할 때만. 애매하면 빈 문자열.
                - labels: 최소 2개 (severity, type), 도메인 태그 자유.
            - role: user
              text: |
                ## 입력
                - issue key       : {{#start.sonar_issue_key#}}
                - project key     : {{#start.sonar_project_key#}}
                - enclosing fn    : {{#start.enclosing_function#}} (line {{#start.enclosing_lines#}})
                - commit          : {{#start.commit_sha#}}

                ## Sonar Issue JSON
                ```json
                {{#start.sonar_issue_json#}}
                ```

                ## Sonar Rule JSON
                ```json
                {{#start.sonar_rule_json#}}
                ```

                ## Code Snippet (참고용 — 본문에 다시 쓰지 말 것)
                ```
                {{#start.code_snippet#}}
                ```

                ## 프로젝트 컨텍스트 (self-exclusion + 카테고리별 top-3)
                {{#context_filter.filtered_context#}}

                위 정보를 바탕으로 JSON 응답만 생성하세요.
                impact_analysis_markdown 과 suggested_fix_markdown 에 집중하고,
                위치·코드·룰 설명은 반복하지 마세요.

                {{#start.retry_hint#}}
          context:
            enabled: true
            variable_selector:
              - context_filter
              - filtered_context
          vision:
            enabled: false

      # ────────────────────────────────────────────────────────────────────
      # Code 노드 — LLM 출력 문자열에서 JSON 을 deterministic 하게 파싱.
      # 이전 parameter-extractor (LLM 재호출) 은 gemma4:e4b 가 스키마 붕괴를
      # 일으켜 빈 outputs 로 status=succeeded 를 내뱉는 사각지대가 있었고
      # (로그에서 58 건 중 ~30% 가 3 회 retry 소진 후 FAIL-EMPTY), 2단 LLM
      # 파이프라인의 실패율이 누적되는 구조였다. 본 Code 노드는 LLM 응답을
      # 재해석하지 않고 json.loads 로만 파싱하므로 LLM 변동성이 제거되고
      # `status=succeeded` 가 실제 구조화 성공과 일치한다. 파싱 실패 시
      # classification=true_positive / confidence=medium 등 안전 기본값을
      # 채워 creator 가 KeyError 없이 작동하도록 보장.
      # ────────────────────────────────────────────────────────────────────
      - id: json_parser
        type: custom
        position:
          x: 880
          y: 200
        data:
          type: code
          title: JSON 파싱 (deterministic)
          variables:
            - variable: llm_text
              value_selector:
                - llm_analyzer
                - text
          code_language: python3
          code: |
            def main(llm_text: str) -> dict:
                import json, re
                defaults = {
                    "title": "",
                    "labels": [],
                    "impact_analysis_markdown": "",
                    "suggested_fix_markdown": "",
                    "classification": "true_positive",
                    "fp_reason": "",
                    "confidence": "medium",
                    "suggested_diff": "",
                }
                s = (llm_text or "").strip()
                # 선행 prose 와 코드펜스 제거
                s = re.sub(r'^```(?:json)?\s*', '', s, flags=re.MULTILINE)
                s = re.sub(r'\s*```\s*$', '', s, flags=re.MULTILINE)
                # 첫 `{` 부터 마지막 `}` 까지 greedy 매칭 (balanced 매칭 아님).
                # LLM 이 본문 뒤에 두 번째 객체를 출력하면 둘을 묶어 파싱 실패할 수
                # 있으나, 그 경우 try/except → defaults 로 안전 fallback.
                m = re.search(r'\{[\s\S]*\}', s)
                if m:
                    s = m.group(0)
                try:
                    o = json.loads(s)
                    if not isinstance(o, dict):
                        o = {}
                except Exception:
                    o = {}
                out = dict(defaults)
                for k in defaults:
                    v = o.get(k)
                    if v is None:
                        continue
                    # classification 은 빈 문자열 무시 (기본값 유지)
                    if k == "classification" and v == "":
                        continue
                    out[k] = v
                # labels 정규화
                if isinstance(out["labels"], str):
                    out["labels"] = [out["labels"]] if out["labels"] else []
                if not isinstance(out["labels"], list):
                    out["labels"] = []
                return out
          outputs:
            title:
              type: string
            labels:
              type: array[string]
            impact_analysis_markdown:
              type: string
            suggested_fix_markdown:
              type: string
            classification:
              type: string
            fp_reason:
              type: string
            confidence:
              type: string
            suggested_diff:
              type: string

      # ────────────────────────────────────────────────────────────────────
      # End — 4개 출력 (title, labels, impact_analysis_markdown, suggested_fix_markdown)
      # creator 가 위 4개 + exporter 출력의 사실 정보를 조합해 최종 이슈 본문 렌더.
      # ────────────────────────────────────────────────────────────────────
      - id: end
        type: custom
        position:
          x: 1280
          y: 200
        data:
          type: end
          title: End
          outputs:
            - variable: title
              value_selector:
                - json_parser
                - title
              value_type: string
            - variable: labels
              value_selector:
                - json_parser
                - labels
              value_type: array[string]
            - variable: impact_analysis_markdown
              value_selector:
                - json_parser
                - impact_analysis_markdown
              value_type: string
            - variable: suggested_fix_markdown
              value_selector:
                - json_parser
                - suggested_fix_markdown
              value_type: string
            - variable: classification
              value_selector:
                - json_parser
                - classification
              value_type: string
            - variable: fp_reason
              value_selector:
                - json_parser
                - fp_reason
              value_type: string
            - variable: confidence
              value_selector:
                - json_parser
                - confidence
              value_type: string
            - variable: suggested_diff
              value_selector:
                - json_parser
                - suggested_diff
              value_type: string
