playwright-allinone/dify-chatflow.yaml
# =============================================================================
# DSCORE Zero-Touch QA — Dify Chatflow DSL (v0.1.4)
#
# 수동 import: Dify 콘솔 → 스튜디오 → 앱 만들기 → DSL 파일에서 가져오기
#
# 모델: 호스트 Ollama 모드 기본 가정 — `gemma4:e4b` 로 고정
#   호스트 머신에 `gemma4:e4b` 가 설치되어 있어야 하고,
#   Dify 콘솔의 Ollama 공급자에도 동일 Model Name 으로 등록되어 있어야 한다.
#   다른 모델을 쓰려면 아래 Planner/Healer LLM 노드의 `name:` 을 일괄 교체한다.
#
# Chatflow 구조:
#   Start → IF/ELSE ─── IF (run_mode = heal) ──→ Healer LLM → Answer (Heal)
#                    └── ELSE (chat / doc)  ──→ Planner LLM → Answer (Plan)
# =============================================================================

kind: app
version: 0.1.3
app:
  description: 'Zero-Touch QA — 자연어/기획서를 9대 DSL로 변환하고 실패 시 자가 치유 셀렉터를 제안한다.'
  icon: robot
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: ZeroTouch QA Brain
  use_icon_as_answer_icon: false

workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false

  graph:
    # ──────────────────────────────────────────
    # 엣지 (노드 간 연결 관계)
    # ──────────────────────────────────────────
    edges:
      - data:
          isInIteration: false
          sourceType: start
          targetType: if-else
        id: edge-start-to-ifelse
        source: start
        sourceHandle: source
        target: ifelse
        targetHandle: target
        type: custom
        zIndex: 0

      - data:
          isInIteration: false
          sourceType: if-else
          targetType: llm
        id: edge-ifelse-to-healer
        source: ifelse
        sourceHandle: "true"
        target: healer
        targetHandle: target
        type: custom
        zIndex: 0

      - data:
          isInIteration: false
          sourceType: if-else
          targetType: llm
        id: edge-ifelse-to-planner
        source: ifelse
        sourceHandle: "false"
        target: planner
        targetHandle: target
        type: custom
        zIndex: 0

      - data:
          isInIteration: false
          sourceType: llm
          targetType: answer
        id: edge-healer-to-answer
        source: healer
        sourceHandle: source
        target: answer-heal
        targetHandle: target
        type: custom
        zIndex: 0

      - data:
          isInIteration: false
          sourceType: llm
          targetType: answer
        id: edge-planner-to-answer
        source: planner
        sourceHandle: source
        target: answer-plan
        targetHandle: target
        type: custom
        zIndex: 0

    # ──────────────────────────────────────────
    # 노드
    # ──────────────────────────────────────────
    nodes:

      # ── Start 노드 ──────────────────────────
      - data:
          desc: ''
          selected: false
          title: Start
          type: start
          variables:
            - label: run_mode
              max_length: 48
              options:
                - chat
                - doc
                - heal
              required: true
              type: select
              variable: run_mode
            - label: srs_text
              # 20000 chars 확장: 클라이언트가 PDF 텍스트를 추출해 srs_text 에 prepend 하는
              # 경로 ([첨부 문서 내용] ... [추가 요구사항]) 를 지원하기 위함. pymupdf 가
              # 뽑은 30-스텝 PDF 가 ~2.1KB 이고, DIFY_DOC_MAX_CHARS 기본 12000 과 사용자
              # SRS 여유를 합쳐 안전 마진.
              max_length: 20000
              options: []
              required: false
              type: paragraph
              variable: srs_text
            - label: target_url
              max_length: 256
              options: []
              required: false
              type: text-input
              variable: target_url
            - label: error
              max_length: 2000
              options: []
              required: false
              type: paragraph
              variable: error
            - label: dom
              max_length: 10000
              options: []
              required: false
              type: paragraph
              variable: dom
            - label: failed_step
              max_length: 2000
              options: []
              required: false
              type: paragraph
              variable: failed_step
        height: 310
        id: start
        position:
          x: 80
          y: 260
        positionAbsolute:
          x: 80
          y: 260
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      # ── IF/ELSE 노드 ─────────────────────────
      - data:
          cases:
            - case_id: "true"
              conditions:
                - comparison_operator: is
                  id: cond-run-mode-heal
                  value: heal
                  variable_selector:
                    - start
                    - run_mode
              id: "true"
              logical_operator: and
          desc: 'run_mode = heal → Healer / 그 외 → Planner'
          selected: false
          title: IF/ELSE
          type: if-else
        height: 126
        id: ifelse
        position:
          x: 390
          y: 260
        positionAbsolute:
          x: 390
          y: 260
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      # ── Planner LLM 노드 ─────────────────────
      - data:
          context:
            enabled: false
            variable_selector: []
          desc: '자연어/기획서 → 9대 DSL JSON 배열 생성'
          memory:
            query_prompt_template: ''
            role_prefix:
              assistant: ''
              user: ''
            window:
              enabled: false
              size: 50
          model:
            completion_params:
              temperature: 0.1
              max_tokens: 2048
            mode: chat
            name: "gemma4:e4b"
            provider: ollama
          prompt_template:
            - id: planner-system
              role: system
              text: |
                당신은 Playwright 기반의 E2E 테스트 자동화 아키텍트입니다. 
                사용자의 자연어 요구사항(SRS)을 분석하여, 브라우저를 제어할 수 있는 [14대 표준 액션] 기반의 JSON 시나리오 배열을 작성하십시오.

                [⚠️ 최우선 규칙 — STEP 1 은 예외 없이 navigate]:
                - 모든 시나리오의 JSON 배열 첫 요소는 반드시 다음 형태입니다:
                    { "step": 1, "action": "navigate", "target": "", "value": "<대상 URL>", "description": "대상 페이지 로드" }
                - 사용자 요구사항에 "이동" / "접속" 같은 단어가 없어도, "검색창 입력" 처럼 페이지 조작만 요구해도, 이 step 1 을 반드시 포함합니다.
                - 대상 URL 은 입력 변수 target_url 값(하단 user 메시지의 "대상 URL: …")을 그대로 value 에 넣습니다.
                - 이 규칙을 어기면 브라우저가 about:blank 에서 시작해 모든 후속 step 이 about:blank 위에서 실패합니다.

                [출력 구조 요구사항 — 엄격히 준수]:
                출력할 JSON 배열 내의 각 객체는 다음 필드를 모두 포함해야 합니다:
                - "step": 실행 순서 (1부터 시작하는 정수)
                - "action": 위 14대 표준 액션 중 하나 (절대 임의의 액션을 지어내지 말 것)
                - "target": 대상 로케이터 (해당 없는 액션은 빈 문자열 "")
                - "value": 액션의 값 (해당 없는 액션은 빈 문자열 "")
                - "condition": verify 액션 시에만 선택적으로 사용 (예: "visible", "disabled")
                - "description": 이 스텝이 무엇을 하는지 설명하는 한국어 문장
                - "fallback_targets": target 탐색 실패 시도할 대체 로케이터 문자열 배열 (최소 2개 작성 필수. 예: ["text=로그인", ".login-btn"])
                - "action_alternatives": (선택) 같은 의도를 다른 액션으로 달성하는 등가 시나리오 객체 배열.

                [14대 표준 액션 및 파라미터 매핑 가이드]:
                1. 기본 제어
                - navigate: target="", value="이동할 URL"
                - click: target="클릭할 요소", value=""
                - fill: target="텍스트를 입력할 폼 요소", value="입력할 문자열"
                - press: target="키 이벤트를 받을 요소 (또는 빈 문자열)", value="키 이름 (예: Enter, Escape, Tab)"
                - select: target="<select> 드롭다운 요소", value="선택할 옵션의 텍스트 또는 값"
                - check: target="체크박스 또는 라디오 버튼 요소", value="on" 또는 "off"
                - hover: target="마우스를 올릴 요소", value=""
                - wait: target="", value="대기할 밀리초 단위 시간 (예: 2000)"

                2. 검증 (Assertion)
                - verify: target="검증 대상 요소". 
                  > 텍스트 검증 시: value="포함되어야 할 텍스트"
                  > 상태 검증 시: condition="visible", "hidden", "disabled", "enabled", "checked" 중 하나 명시.

                3. 고급 UI 상호작용
                - upload: target="<input type='file'> 요소", value="업로드할 파일의 경로명"
                - drag: target="드래그를 시작할 소스 요소", value="마우스를 드롭할 목적지 요소의 로케이터"
                - scroll: target="화면에 나타나게 스크롤할 대상 요소", value="into_view" 고정

                4. 네트워크 제어 (Mocking)
                - mock_status: target="가로챌 API URL 패턴 (예: **/api/v1/users)", value="강제 반환할 HTTP 상태 코드 (예: 500)"
                - mock_data: target="가로챌 API URL 패턴", value="강제 반환할 JSON 본문 문자열 (반드시 쌍따옴표를 이스케이프 처리할 것)"

                [테스트 설계 원칙 및 주의사항]
                1. 모킹 타이밍 (Mocking): `mock_status` 및 `mock_data` 액션은 반드시 해당 API 호출을 유발하는 액션(예: `click`, `press`)보다 앞선 스텝에 배치하십시오.
                2. 대기 시간 최소화 (Auto-wait): Playwright는 요소가 렌더링될 때까지 자동 대기하므로 `wait` 액션을 남발하지 마십시오. 상태 확인은 `wait` 대신 `verify` (condition: "visible")를 사용하십시오.
                3. 로케이터 추측 (Blind Guessing): HTML 코드를 볼 수 없으므로 복잡한 CSS/XPath 추측은 실패할 확률이 높습니다. "text=회원가입", "role=button, name=확인" 등 가장 보편적이고 직관적인 시맨틱 선택자를 우선 배치하십시오.
                4. 오답 노트 (절대 금지): 
                   - `press` 액션의 target에 키 이름(예: "Enter")을 넣지 마십시오. 키 이름은 반드시 value에 들어가야 합니다.
                   - `verify` 액션에서 condition을 누락한 채 value를 빈 문자열로 두지 마십시오.

                [action_alternatives 권장 패턴]:
                - press Enter (검색/제출) → click 검색버튼 또는 click [type=submit] 을 alternative 로 추가
                  예: { "action": "click", "target": "role=button, name=검색" }
                - press Escape (모달 닫기) → click "X" / "취소" 버튼을 alternative 로 추가
                - 단일 정답이 명백한 경우(navigate, wait 등)에는 alternatives 가 불필요합니다.

                [동적 콘텐츠 항목 클릭 (검색결과/리스트의 N번째)]:
                - "첫 번째 검색결과 링크 클릭", "1번째 항목 클릭" 같이 동적으로 생성되는 항목을
                  클릭할 때는, 사이트별 CSS 클래스를 추측하지 말고 다음 일반 셀렉터를 우선 사용:
                    target: "main a[href]:visible"
                    fallback_targets:
                      - "article a[href]:visible"
                      - "[id*='result' i] a[href]:visible"
                      - "[class*='result' i] a[href]:visible"
                  실행 엔진이 description 의 "첫 번째/N번째 결과/링크" 패턴을 인식하면
                  마지막 안전망으로 위 후보들을 자동 시도합니다.
                - 절대 li[id^='something'] 같은 추측성 CSS 셀렉터를 단독으로 쓰지 마십시오.

                [⚠️ 절대 금지 — false-positive PASS 유발]:
                - target 에 name= 한정자 없는 단독 role 을 쓰지 마십시오:
                  "role=link", "role=button", "role=textbox", "role=searchbox",
                  "role=checkbox", "role=combobox", "role=menuitem", "role=tab" 등.
                  → 페이지 전체에서 첫 매치(보통 로고/헤더)가 잡혀 의도와 다른 곳을 클릭합니다.
                  → 반드시 "role=link, name=홈페이지명" 처럼 name= 으로 한정하거나,
                     "main a[href]:visible" 같이 컨테이너 한정 셀렉터를 쓰십시오.

                [✅ 복합 시나리오 예시 (네트워크 모킹 및 검증)]
                입력: "프로필 저장 API에서 500 에러 발생 시 에러 팝업 노출 확인"
                출력:
                [
                  {"step": 1, "action": "mock_status", "target": "**/api/profile", "value": "500", "description": "저장 API 500 에러 모킹", "fallback_targets": []},
                  {"step": 2, "action": "click", "target": "role=button, name=저장", "value": "", "description": "저장 버튼 클릭", "fallback_targets": ["text=저장"]},
                  {"step": 3, "action": "verify", "target": "text=저장에 실패했습니다", "value": "", "condition": "visible", "description": "에러 팝업 노출 검증", "fallback_targets": []}
                ]

                [엄수 사항]:
                - 반드시 유효한 JSON 배열([...]) 형태만 출력하십시오.
                - 마크다운 코드블록(```)이나 부연 설명은 절대 금지합니다.
                - ⚠️ <think>, <thinking>, <reasoning> 등의 내부 추론 블록을 절대 출력하지 마십시오.
                  바로 JSON 배열만 응답하십시오. 내부 추론이 필요하더라도 그 내용을 숨기고
                  최종 결과만 내보내야 합니다. 추론 블록은 응답 시간을 2~3배로 늘려
                  운영 환경에서 timeout 을 유발합니다.
            - id: planner-user
              role: user
              text: "대상 URL: {{#start.target_url#}}\n요구사항: {{#start.srs_text#}}"
          selected: false
          title: Planner
          type: llm
          variables: []
          vision:
            enabled: false
        height: 98
        id: planner
        position:
          x: 700
          y: 380
        positionAbsolute:
          x: 700
          y: 380
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      # ── Healer LLM 노드 ──────────────────────
      - data:
          context:
            enabled: false
            variable_selector: []
          desc: 'DOM 분석 → 대체 셀렉터 JSON 제안'
          memory:
            query_prompt_template: ''
            role_prefix:
              assistant: ''
              user: ''
            window:
              enabled: false
              size: 50
          model:
            completion_params:
              temperature: 0.1
              max_tokens: 1024
            mode: chat
            name: "gemma4:e4b"
            provider: ollama
          prompt_template:
            - id: healer-system
              role: system
              text: |
                당신은 자가 치유(Self-Healing) 시스템입니다. 에러 메시지, 실패한 스텝 정보, 그리고 HTML DOM 스냅샷을 분석하십시오.

                [작업]:
                - 실패한 스텝(failed_step)의 원래 액션과 타겟을 확인하십시오.
                - 에러 메시지를 바탕으로 기존 요소를 찾지 못한 이유를 파악하십시오.
                - DOM 스냅샷 내에서 의도에 가장 부합하는 대체 셀렉터를 찾으십시오.
                - ⚠️ 무조건 DOM에 실제로 존재하는 요소만 제안하십시오. 가상의 셀렉터는 절대 금지합니다.

                [신규 액션별 치유 전략]:
                - action이 "drag"인 경우: 소스(target)와 목적지(value) 중 어느 것을 못 찾았는지 에러에서 파악하십시오. 목적지 오류라면 새 로케이터를 "value" 키에 담아 반환하십시오.
                - action이 "upload"인 경우: 겉모양이 버튼이더라도 실제로는 `<input type="file">` 속성을 가진 숨겨진 요소를 찾아 제안해야 합니다.
                - action이 "mock_status" / "mock_data"인 경우: DOM 탐색 오류가 아닙니다. 에러를 바탕으로 타겟 URL 패턴(target)의 오타나 정규식을 교정하십시오.

                [로케이터 작성 원칙]:
                - DOM을 분석할 때 복잡한 CSS/XPath 계층 구조보다, 변하지 않는 텍스트(`text=로그인`)나 시맨틱 속성(`role=button, name=확인`, `[placeholder="검색"]`)을 최우선으로 제안하십시오.

                [출력 형식]:
                - 순수 JSON 객체({...}) 형식으로만 출력하십시오. 부연 설명 금지.
                - 반드시 "target", "value", "fallback_targets" 세 개의 키를 모두 포함하십시오.
                - "value" 키는 목적지(drag)나 입력값이 변경될 필요가 있을 때만 값을 넣고, 그 외에는 빈 문자열("")을 넣으십시오.

                [✅ 예시 (click 액션 실패 치유)]
                {"target": "role=button, name=Submit", "fallback_targets": ["text=Submit", "#submit-btn"]}

                [엄수 사항]:
                - ⚠️ <think>, <thinking>, <reasoning> 등의 내부 추론 블록을 절대 출력하지 마십시오.
                  바로 JSON 객체만 응답하십시오. 추론 블록은 응답 시간을 2~3배로 늘려
                  heal timeout(60초) 안에 응답을 못 주면 치유 실패로 이어집니다.
            - id: healer-user
              role: user
              text: "에러: {{#start.error#}}\n\n실패한 스텝:\n{{#start.failed_step#}}\n\nDOM 스냅샷:\n{{#start.dom#}}"
          selected: false
          title: Healer
          type: llm
          variables: []
          vision:
            enabled: false
        height: 98
        id: healer
        position:
          x: 700
          y: 130
        positionAbsolute:
          x: 700
          y: 130
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      # ── Answer (Heal) 노드 ───────────────────
      - data:
          answer: "{{#healer.text#}}"
          desc: ''
          selected: false
          title: Answer (Heal)
          type: answer
          variables: []
        height: 107
        id: answer-heal
        position:
          x: 1010
          y: 130
        positionAbsolute:
          x: 1010
          y: 130
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      # ── Answer (Plan) 노드 ───────────────────
      - data:
          answer: "{{#planner.text#}}"
          desc: ''
          selected: false
          title: Answer (Plan)
          type: answer
          variables: []
        height: 107
        id: answer-plan
        position:
          x: 1010
          y: 380
        positionAbsolute:
          x: 1010
          y: 380
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
