playwright-allinone/dify-chatflow.yaml
# =============================================================================
# DSCORE Zero-Touch QA — Dify Chatflow DSL (v0.1.4)
#
# 수동 import: Dify 콘솔 → 스튜디오 → 앱 만들기 → DSL 파일에서 가져오기
#
# 모델: 호스트 Ollama 모드 기본 가정 — `gemma4:26b` 로 고정
#   호스트 머신에 `gemma4:26b` 가 설치되어 있어야 하고,
#   Dify 콘솔의 Ollama 공급자에도 동일 Model Name 으로 등록되어 있어야 한다.
#   다른 모델을 쓰려면 아래 Planner/Healer LLM 노드의 `name:` 을 일괄 교체한다.
#
# Chatflow 구조:
#   Start → IF/ELSE ─── IF (run_mode = heal) ──→ Healer LLM → Answer (Heal)
#                    └── ELSE (chat / doc)  ──→ Planner LLM → Answer (Plan)
# =============================================================================

kind: app
version: 0.1.3
app:
  description: 'Zero-Touch QA — 자연어/기획서를 14대 DSL 계약으로 변환하고 실패 시 자가 치유 셀렉터를 제안한다.'
  icon: robot
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: ZeroTouch QA Brain
  use_icon_as_answer_icon: false

workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false

  graph:
    # ──────────────────────────────────────────
    # 엣지 (노드 간 연결 관계)
    # ──────────────────────────────────────────
    edges:
      - data:
          isInIteration: false
          sourceType: start
          targetType: if-else
        id: edge-start-to-ifelse
        source: start
        sourceHandle: source
        target: ifelse
        targetHandle: target
        type: custom
        zIndex: 0

      - data:
          isInIteration: false
          sourceType: if-else
          targetType: llm
        id: edge-ifelse-to-healer
        source: ifelse
        sourceHandle: "true"
        target: healer
        targetHandle: target
        type: custom
        zIndex: 0

      - data:
          isInIteration: false
          sourceType: if-else
          targetType: llm
        id: edge-ifelse-to-planner
        source: ifelse
        sourceHandle: "false"
        target: planner
        targetHandle: target
        type: custom
        zIndex: 0

      - data:
          isInIteration: false
          sourceType: llm
          targetType: answer
        id: edge-healer-to-answer
        source: healer
        sourceHandle: source
        target: answer-heal
        targetHandle: target
        type: custom
        zIndex: 0

      - data:
          isInIteration: false
          sourceType: llm
          targetType: answer
        id: edge-planner-to-answer
        source: planner
        sourceHandle: source
        target: answer-plan
        targetHandle: target
        type: custom
        zIndex: 0

    # ──────────────────────────────────────────
    # 노드
    # ──────────────────────────────────────────
    nodes:

      # ── Start 노드 ──────────────────────────
      - data:
          desc: ''
          selected: false
          title: Start
          type: start
          variables:
            - label: run_mode
              max_length: 48
              options:
                - chat
                - doc
                - heal
              required: true
              type: select
              variable: run_mode
            - label: srs_text
              # 20000 chars 확장: 클라이언트가 PDF 텍스트를 추출해 srs_text 에 prepend 하는
              # 경로 ([첨부 문서 내용] ... [추가 요구사항]) 를 지원하기 위함. pymupdf 가
              # 뽑은 30-스텝 PDF 가 ~2.1KB 이고, DIFY_DOC_MAX_CHARS 기본 12000 과 사용자
              # SRS 여유를 합쳐 안전 마진.
              max_length: 20000
              options: []
              required: false
              type: paragraph
              variable: srs_text
            - label: target_url
              max_length: 256
              options: []
              required: false
              type: text-input
              variable: target_url
            - label: api_docs
              max_length: 4000
              options: []
              required: false
              type: paragraph
              variable: api_docs
            - label: error
              max_length: 2000
              options: []
              required: false
              type: paragraph
              variable: error
            - label: dom
              max_length: 10000
              options: []
              required: false
              type: paragraph
              variable: dom
            - label: failed_step
              max_length: 2000
              options: []
              required: false
              type: paragraph
              variable: failed_step
            # B: executor 의 strategy chain 시도 결과 (JSON 배열). healer 가 "selector
            # 만 바꿔도 같은 timeout" 같은 정보를 받아 의미적 mutation 가능.
            - label: strategy_trace
              max_length: 4000
              options: []
              required: false
              type: paragraph
              variable: strategy_trace
        height: 360
        id: start
        position:
          x: 80
          y: 260
        positionAbsolute:
          x: 80
          y: 260
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      # ── IF/ELSE 노드 ─────────────────────────
      - data:
          cases:
            - case_id: "true"
              conditions:
                - comparison_operator: is
                  id: cond-run-mode-heal
                  value: heal
                  variable_selector:
                    - start
                    - run_mode
              id: "true"
              logical_operator: and
          desc: 'run_mode = heal → Healer / 그 외 → Planner'
          selected: false
          title: IF/ELSE
          type: if-else
        height: 126
        id: ifelse
        position:
          x: 390
          y: 260
        positionAbsolute:
          x: 390
          y: 260
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      # ── Planner LLM 노드 ─────────────────────
      - data:
          context:
            enabled: false
            variable_selector: []
          desc: '자연어/기획서 → 14대 DSL JSON 배열 생성'
          memory:
            query_prompt_template: ''
            role_prefix:
              assistant: ''
              user: ''
            window:
              enabled: false
              size: 50
          model:
            completion_params:
              temperature: 0.1
              max_tokens: 4096
            mode: chat
            name: "gemma4:26b"
            provider: ollama
          prompt_template:
            - id: planner-system
              role: system
              text: |
                당신은 SRS(자연어 요구사항)를 Playwright 기반 [14대 표준 액션] JSON 배열로 변환하는 변환기입니다.
                JSON 배열만 출력합니다. 그 외 텍스트는 출력하지 않습니다.

                [작성 규칙 — 짧게]
                - step 1 은 navigate, value=target_url, target="".
                - SRS 의 N 개 항목은 step 2..N+1 에 1:1 순서대로 매핑. 압축/생략/추가/순서변경 금지.
                - 각 step 은 dict, 키: step, action, target, value, description, fallback_targets. (verify 만 condition 추가 가능)
                - action 은 14개 중 하나의 소문자 문자열: navigate, click, fill, press, select, check, hover, wait, verify, upload, drag, scroll, mock_status, mock_data
                - verify.condition: visible, hidden, disabled, enabled, checked, value, text, contains_text 중 택1 (불명확하면 "").
                - drag: target=출발 selector, value=도착 selector.
                - mock_data: value=JSON body 문자열. mock_status: value=숫자 문자열.
                - press: target=입력 selector, value=키 이름 (예: Enter).
                - scroll: value="into_view".

                [✅ 완성 예시 — SRS 4 항목 → step 5 개]
                target_url: https://example.com/profile
                SRS:
                1) 저장 API 가 500 에러를 반환하도록 모킹한다.
                2) 저장 버튼을 클릭한다.
                3) 에러 팝업이 표시되는지 확인한다.
                4) 1초 대기한다.
                출력:
                [
                  {"step": 1, "action": "navigate", "target": "", "value": "https://example.com/profile", "description": "대상 페이지 로드", "fallback_targets": []},
                  {"step": 2, "action": "mock_status", "target": "**/api/profile", "value": "500", "description": "저장 API 500 모킹", "fallback_targets": []},
                  {"step": 3, "action": "click", "target": "role=button, name=저장", "value": "", "description": "저장 버튼 클릭", "fallback_targets": ["text=저장"]},
                  {"step": 4, "action": "verify", "target": "role=alert", "value": "", "condition": "visible", "description": "에러 팝업 표시 확인", "fallback_targets": ["text=실패"]},
                  {"step": 5, "action": "wait", "target": "", "value": "1000", "description": "1초 대기", "fallback_targets": []}
                ]

                [로케이터 팁]
                - `role+name`, `text=`, `label=`, `placeholder=` 같은 시맨틱 우선.
                - name 없는 단독 role (`role=button`) 금지. 복잡한 CSS/XPath 추측 금지.
            - id: planner-user
              role: user
              text: "대상 URL: {{#start.target_url#}}\n요구사항: {{#start.srs_text#}}\nAPI 문서(선택): {{#start.api_docs#}}"
          selected: false
          title: Planner
          type: llm
          variables: []
          vision:
            enabled: false
        height: 98
        id: planner
        position:
          x: 700
          y: 380
        positionAbsolute:
          x: 700
          y: 380
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      # ── Healer LLM 노드 ──────────────────────
      - data:
          context:
            enabled: false
            variable_selector: []
          desc: 'DOM 분석 → 대체 셀렉터 JSON 제안'
          memory:
            query_prompt_template: ''
            role_prefix:
              assistant: ''
              user: ''
            window:
              enabled: false
              size: 50
          model:
            completion_params:
              temperature: 0.1
              max_tokens: 768
            mode: chat
            name: "gemma4:26b"
            provider: ollama
          prompt_template:
            - id: healer-system
              role: system
              text: |
                당신은 자가 치유(Self-Healing) 시스템입니다. 에러 메시지, 실패한 스텝 정보, 그리고 HTML DOM 스냅샷을 분석하십시오.

                [작업]:
                - 실패한 스텝(failed_step)의 원래 액션과 타겟을 확인하십시오.
                - 에러 메시지를 바탕으로 기존 요소를 찾지 못한 이유를 파악하십시오.
                - DOM 스냅샷 내에서 의도에 가장 부합하는 대체 셀렉터를 찾으십시오.
                - ⚠️ 무조건 DOM에 실제로 존재하는 요소만 제안하십시오. 가상의 셀렉터는 절대 금지합니다.
                - DOM 스냅샷은 일부만 전달될 수 있으므로, 긴 XPath 대신 짧고 안정적인 시맨틱 셀렉터를 우선하십시오.

                [신규 액션별 치유 전략]:
                - action이 "drag"인 경우: 소스(target)와 목적지(value) 중 어느 것을 못 찾았는지 에러에서 파악하십시오. 목적지 오류라면 새 로케이터를 "value" 키에 담아 반환하십시오.
                - action이 "upload"인 경우: 겉모양이 버튼이더라도 실제로는 `<input type="file">` 속성을 가진 숨겨진 요소를 찾아 제안해야 합니다.
                - action이 "mock_status" / "mock_data"인 경우: DOM 탐색 오류가 아닙니다. 에러를 바탕으로 타겟 URL 패턴(target)의 오타나 정규식을 교정하십시오.

                [로케이터 작성 원칙]:
                - DOM을 분석할 때 복잡한 CSS/XPath 계층 구조보다, 변하지 않는 텍스트(`text=로그인`)나 시맨틱 속성(`role=button, name=확인`, `[placeholder="검색"]`)을 최우선으로 제안하십시오.

                [전략 시도 흔적 (strategy_trace) 활용]:
                - executor 가 이미 multi-strategy 로 시도한 결과가 strategy_trace 에 들어옵니다.
                - 같은 selector/value 로 또 다른 mutation 을 시도해도 같은 실패가 반복될 수 있습니다.
                - strategy_trace 의 모든 시도가 같은 사유로 실패했다면, target 교체만으로는 부족할
                  수 있으니 value/condition 변경을 우선 고려하십시오.
                  예: select 액션에서 value="ko" 가 모든 매칭 전략 (positional/value=/label=) 에서
                      실패했다면, value 를 옵션의 visible label (예: "한국어") 로 mutate 해 보십시오.

                [출력 형식]:
                - 순수 JSON 객체({...}) 형식으로만 출력하십시오. 부연 설명 금지.
                - 다음 키 중 mutate 할 것만 포함: "target", "value", "condition", "fallback_targets".
                - action 종류 자체는 절대 변경하지 마십시오 (drag→click 같은 의미 변경 금지).
                - 변경하지 않을 키는 응답에 포함하지 마십시오.

                [✅ 예시 (click 액션 실패 치유)]
                {"target": "role=button, name=Submit", "fallback_targets": ["text=Submit", "#submit-btn"]}

                [✅ 예시 (select value 매핑 미스매치 치유 — strategy_trace 가 모두 실패한 케이스)]
                {"value": "한국어"}

                [엄수 사항]:
                - ⚠️ <think>, <thinking>, <reasoning> 등의 내부 추론 블록을 절대 출력하지 마십시오.
                  바로 JSON 객체만 응답하십시오.
            - id: healer-user
              role: user
              text: "에러: {{#start.error#}}\n\n실패한 스텝:\n{{#start.failed_step#}}\n\n시도 흔적 (strategy_trace):\n{{#start.strategy_trace#}}\n\nDOM 스냅샷:\n{{#start.dom#}}"
          selected: false
          title: Healer
          type: llm
          variables: []
          vision:
            enabled: false
        height: 98
        id: healer
        position:
          x: 700
          y: 130
        positionAbsolute:
          x: 700
          y: 130
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      # ── Answer (Heal) 노드 ───────────────────
      - data:
          answer: "{{#healer.text#}}"
          desc: ''
          selected: false
          title: Answer (Heal)
          type: answer
          variables: []
        height: 107
        id: answer-heal
        position:
          x: 1010
          y: 130
        positionAbsolute:
          x: 1010
          y: 130
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      # ── Answer (Plan) 노드 ───────────────────
      - data:
          answer: "{{#planner.text#}}"
          desc: ''
          selected: false
          title: Answer (Plan)
          type: answer
          variables: []
        height: 107
        id: answer-plan
        position:
          x: 1010
          y: 380
        positionAbsolute:
          x: 1010
          y: 380
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
